
.container {
    display: flex;
    
}
.game-board,
.user-manual {
    text-align: center;
    margin: 10px;
    width: 50%;
    border: 1px solid #000;
}
.game-board {
    font-family: 'Press Start 2P', cursive;
}
.text-manual {
    text-align: left;
    padding: 20px;
}
.user-manual {
    background-image: url("tetris.png");
    background-size: 1000px 1000px;
    background-position: center;
    font-size: 30px;
    font-weight: 700;
}